beautifulsoup4==4.14.3
boto3==1.42.4
boto3-stubs==1.42.5
botocore==1.42.4
botocore-stubs==1.42.5
certifi==2025.11.12
charset-normalizer==3.4.4
idna==3.11
iniconfig==2.3.0
jmespath==1.0.1
mypy-boto3-cloudformation==1.42.3
mypy-boto3-dynamodb==1.42.3
mypy-boto3-ec2==1.42.5
mypy-boto3-lambda==1.42.3
mypy-boto3-rds==1.42.5
mypy-boto3-s3==1.42.3
mypy-boto3-sqs==1.42.3
packaging==25.0
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
python-dateutil==2.9.0.post0
requests==2.32.5
s3transfer==0.16.0
six==1.17.0
soupsieve==2.8
types-awscrt==0.29.2
types-s3transfer==0.16.0
typing_extensions==4.15.0
urllib3==2.6.0
